* {
  margin: 0;
  padding: 0;
}

img,
video {
  width: 100%;
  height: auto;
  background-size: cover;
  display: block;
  border-radius: 10%;
}

body {
  background-color: #c1afdf;
  padding: 30px;
}

.headermenu {
  height: 100px;
}

.headermenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.headermenu li {
  margin: 0 20px;
}

.headermenu a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20%;
  background-color: rgb(94, 111, 195);
  transition: background-color 0.3s;
  font-family: "Sigmar", sans-serif;
  box-shadow: -2px 8px 23px 9px rgba(221, 173, 227, 0.79);
  -webkit-box-shadow: -2px 8px 23px 9px rgba(221, 173, 227, 0.79);
  -moz-box-shadow: -2px 8px 23px 9px rgba(221, 173, 227, 0.79);
}

.headermenu a:hover {
  background-color: #512b5b;
}

.forside {
  background-color: honeydew;
  border-radius: 50px;
  box-shadow: -2px 8px 23px 9px rgba(221, 173, 227, 0.79);
  -webkit-box-shadow: -2px 8px 23px 9px rgba(221, 173, 227, 0.79);
  -moz-box-shadow: -2px 8px 23px 9px rgba(221, 173, 227, 0.79);
  padding: 20px;
}

h2 {
  text-align: center;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid_2 {
  background-color: honeydew;
  border-radius: 50px;
  box-shadow: -2px 8px 23px 9px rgba(221, 173, 227, 0.79);
  -webkit-box-shadow: -2px 8px 23px 9px rgba(221, 173, 227, 0.79);
  -moz-box-shadow: -2px 8px 23px 9px rgba(221, 173, 227, 0.79);
  padding: 20px;
}

.col_3 {
  position: relative;
  text-align: center;
  color: white;
}

.tekstoverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
